header nav a:any-link {
  text-decoration: none;
  padding: 0 var(--lumo-space-s);
  border-radius: var(--lumo-border-radius-m);
  outline: 0;
}
header nav {
  background-color: #CAC1C1;
}
.header1 {
  background-color: rgba(105, 105, 105, 0.66);
}

header nav a:hover {
  color: var(--lumo-header-text-color);
}

header nav a:active {
  background-color: var(--lumo-contrast-5pct);
}

header nav a:focus-visible {
  box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

header nav a[highlight] span {
  color: var(--lumo-shade);
}

header nav a[highlight] {
  background-color: var(--lumo-shade-10pct);
}
.custom-image-button {
  background-image: url('/images/back arrow.png');
  background-size: cover;
  color: white;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  background-position: center bottom;
  text-align: center;
  width: 300px;
  height: 200px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1;
}
/* Style for the header */
.my-header {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

/* Style for the background image */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Style for the back button */
.custom-button {
  background-color: #000;
  color: white;
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 43px;
  border-radius: 22px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
}

/* Style for the form fields */
.my-textfield {
  width: 100%;
  margin: 10px;
}

/* Style for the save button */
.save-button {
  /* Add specific styles for the save button, if needed */
}

/* Style for the form layout */
.form-layout {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

